body {
	background-image: url("background-photo.jpg");
	background-position:center center;
	background-repeat:no-repeat;
    background-color:#464646;
	background-attachment: fixed;
	background-size:cover;
}
a {
	text-decoration: none;
}

 #wrapper {
    max-width: 1500px;
    margin:0 auto;
    padding:0 5%;
    
 }

 
 	
 footer  {
	
    padding:100px; 
 	text-align: center;
 	clear: both;
 	color:#fff;
 	
 }
 
 img {
 	max-width:100%;
 }


#gallery {
	font-family:'Open Sans' , sans-serif;
	color:orange;
	font-size: 180%;
	text-align:center;
	margin: 0;
	padding-top:100px;
	list-style: none;
}

#gallery a {
	color:#000;
	padding-bottom:50px;
}
.bgvideo{
	
	position: fixed;
	height:480px;
	z-index:-9999;
	border-radius:20px;
}


#switch {
	display:block;
	max-width:150px;
	margin:0 auto 30px;
	border-radius:20px;
    background:orange;
}


#logo {
	margin:0;
	text-align: left;
}

header {

	margin: 5px;
	padding:5px;
	padding-bottom: 50px;
	
}


header a {
	
	color:#fff;
	
}
.header img {
	float:left;
	width:50px;
	height:50px;
	margin:10px -5px 0 0;
}
.header h1,h2 {
	position:relative;
	top:18px;
	left:10px;
}
nav ul {
	font-size:1.25em ;
	padding-top:20px;
	margin:0 0 0;
	text-align: right;
	

}
nav a {
	font-weight:800;
	padding:20px 10px;
    
}

nav li {
	display:inline-block;
    
	
}
nav a.selected , nav a:hover {
	font-size: 1.00em;
	color:#32673f;
}
h1 {
    
	font-family: 'Changa One',sans-serif;
	margin: 5px;
	font-size: 2.75em;
	font-weight:normal;
	line-height:0.8em;
	
	
    
}
h2 {
	font-size: 100%;
	font-weight:normal;
	margin:-5px 0 0 10px;
}

#text {
	color:#fff;
}


.profile {
	display:block;
	max-width:150px;
	margin:0 auto 30px;
	border-radius:100%;
	}
#profile p {
	font-family: 'Open Sans',sans-serif;
	font-size: 1.5em;
	font-weight: normal;
	color:#fff;
	text-align: center;

         }
h3 {
	text-align: center;
	padding:10px ,50px;
	color:orange;
	font-size:180%;
	font-family: 'Open Sans',sans-serif;
}
h4 {
	color:#fff;
	font-size: 0.95em;
	font-family: 'Open Sans',sans-serif;
}

h5 {
	text-align: center;
	color:#fff;
	font-size: 0.95em;
	font-family: 'Open Sans',sans-serif;
}

h6 {
	color:#fff;
	font-size: 0.95em;
	font-family: 'Open Sans',sans-serif;
}


.furniture {
	
	display:block;
	max-width:10%;
	margin:0 auto 30px;
	border-radius:100%;
	

}
.window {
	
	
	display:block;
	max-width:150px;
	margin:20px auto 30px;
	border-radius:100%;
}
.space {
	
	
	display:block;
	max-width:150px;
	margin:0 auto 30px;
	border-radius:100%;
}
#window {
	text-align: center;
}



}
#space {
	margin:20px 50px;
    text-align: center;
}
#furniture {
	margin: 20px 50px;
	
	text-align: center;
}
#furniture p {
	font-family: 'Open Sans',sans-serif;
	font-size: 1.00em;
	color:#fff;
	padding: 5px;
	}
#space p {
	color: #fff;
	font-family: 'Open Sans',sans-serif;
	font-size: 1.00em;
	padding:5px;
	text-align: center;

}
#window p {
	color: #fff;
	font-family: 'Open Sans',sans-serif;
	font-size: 1.00em;
}
.contact-info {
	list-style: none;
	font-size:0.9em;
    text-align: center;
    
}

.contact-info li.phone a {
	 display:block;
	 padding:5px;
	 color:#fff;
     background-image:url('../img/mobile.png');
     background-repeat: no-repeat;
     background-size: 20px 20px;
     margin:0 0 30px;
     background-position:510px; 

}  
.contact-info li.mail a {
	display:block;
	padding:5px;
	color:#fff;
	background-image: url('../img/Gmail.png');
	background-repeat: no-repeat;
	background-position: 450px;
}  

